/* Stylesheet for citronmånen
    Kevin Feliciano Nielsen & Rikke Kofoed
                                            */



body{
    font-family:'Open Sans',sans-serif;
    font-weight:lighter; 
    color:#3f290a;
}

h1, h3{
    font-family:'Yesteryear', cursive;
}
nav li{
    display:Inline;
    text-decoration: none;
    background-color:#f1ca30;  
    text-align:center;
    font-family:'Yesteryear',cursive;
    font-size:40px;
    padding-right:50px;
}

nav a{
    text-decoration: none;
    color:#3f290a;
}

#pagewrap{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a"
        "b b b b"
        "c c c c"
        "d d d d"
        "e e e e"
        "f f f f"
        "g g g g"
    ;
}

#header{
    background-color:#f1ca30;
    grid-area:a;
    text-align:center
    
}

nav li img{ /*LOGO BILLEDE */
    position:relative;
    top:1px;
    width:250px; 
}

.burgermenu{
    display:none;
}

#logo{
    display:none;
}

#hurra{
    grid-area:b;
}

.bannerbillede{
    position:relative;
    
}   

.bannerbillede img{
    width:100%;
} /* BANNER BILLEDET */

.tekstbox{
    position: absolute; 
    top:50px;
    left: 60px;
    width: 100%;
    margin:auto;
    width: 500px;
    height: auto;
    font-size:25px;
    text-align:center;
    background-color:rgba(241, 225, 147, 0.65);
    font-weight:lighter;
    
    
}

.tekstbox h1{
    text-align:center;
}
    
#omcitronmaanen h1{
    font-size:35px;
}

#omcitronmaanen{
    background-color:#c7d062;
    grid-area: c;  
    text-align:center; 
    margin-top:-5px;
    padding-left:240px;
    padding-right:240px; 
    padding-bottom:10px;  
    
}



#opskrifter{
    background-color:#f1ca30;
    grid-area: d;
    padding-left:50px;
    padding-right:50px;
    
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:
    
        ". Overskrift1 ."
        "Overskrift2 . ."
        "billede1 tekst1for1 tekst1for1"
        "billede1 tekst2for1 tekst2for1"
        "billede1 . ."
        "billede1 . ."
        ". . Overskrift3 "  
        "tekst1for2 tekst1for2 billede2"     
        "tekst2for2 tekst2for2 billede2"
        "anbefaling . billede2"
        "anbefaling . billede2"
        ". . .";
}

#opskrifter h1{
    text-align:center;
    font-size:35px;
    padding-left:95px
}

#billede1{ /*OPSKRIFT BILLEDE 1*/
    height:300px;
    padding-top:20px
}

#billede2{ /*OPSKRIFT BILLEDE 2*/
    width:530px;
    padding-top:20px;
}

#omdancake{
    background-color:#c7d062;
    grid-area: e;
    text-align:center;
    padding-left:240px;
    padding-right:240px;
    padding-bottom:10px;
}

#omdancake h1{
    font-size:35px;
}


#instagram{
    background-color:#f1ca30;
    grid-area:f;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:25px;
    grid-template-areas: 
    
        ". instagramoverskrift . "
        "insta1 insta2 insta3"
        "insta4 insta5 insta6"
}

#instagram h1{
    text-align:center;
    grid-area:instagramoverskrift;
    font-weight:lighter;
    font-size:35px;
    margin-bottom:-10px;
}

#footer{
    background-color:#c7d062;
    grid-area:g;
    text-align:Center;
    font-weight:bold;
}

/* Textarea for grids til opskrifter */ 

#opskriftoverskrift{
    grid-area:Overskrift1;
    font-size:35px;
    font-weight:lighter;
    margin-bottom:-10px
}

#grilletcitronmaane{
    grid-area:Overskrift2;
    font-size:30px;
    font-weight:lighter;
    margin-bottom:-0.5px;
}

#gctekst1{
    grid-area:tekst1for1;
}

#gctekst2{
    grid-area:tekst2for1;
}

#citronmaaneromkugler{
    grid-area:Overskrift3;
    font-size:30px;
    font-weight:lighter;
    margin-bottom:-0.5px;
    text-align:right;
}

#crtekst1{
    grid-area:tekst1for2;
    margin-bottom
}

#crtekst2{
    grid-area:tekst2for2;
}   

#anbefaling{
    grid-area:anbefaling;
}
#billede1{
    grid-area:billede1;
    padding-right:15px;
    
}
#billede2{
    grid-area:billede2;
    padding-left:15px;
    padding-bottom:30px;
    margin-left:0px
}

/*Instagram gridside */

#insta1{
    grid-area:insta1;
    padding-left:50px;
    width:360px;
}

#insta2{
    grid-area:insta2;
    padding-left:10px;
    width:360px;
}
#insta3{
    grid-area:insta3;
    padding-right:60px;
    width:360px;
}
#insta4{
    grid-area:insta4;
    padding-left:50px;
    padding-bottom:50px; 
    width:360px;
    
}
#insta5{
    grid-area:insta5;
    padding-left:10px;
    width:360px;
}
#insta6{
    grid-area:insta6;
    padding-left:0px;
    padding-right:60px;
    width:360px;    
}

/* SORRY NIELS! Desktop first...... We forgot..  !!!!!!!!!!!!!!!!! */ 
   
@media screen and (max-width: 768px){
    

body{
    font-family:'Open Sans',sans-serif;
    font-weight:lighter; 
    background-color:white;
    color:#3f290a;
}

h1, h3{
    font-family:'Yesteryear', cursive;
}
nav li{
    display:none;
}

nav a{
    text-decoration: none;
    color:#3f290a;    
    
}    
    
 nav{
    background-image: url(Logo.png);
    background-repeat:no-repeat;
    background-size: 100px;
    background-position:center;
    padding-bottom:5px;
    
}
    
    
.burgermenu {
        position: relative;
        display: block;
        z-index:10;
        }

    .burgerknap {
        width: 55px;
        height: 55px;
        background-color: rgba(52, 115, 61, 0);
        color: #000;
        border: none;
        cursor: pointer;
        position:relative;
        left:0;
    }

    .burgerDD {
        display: none;
        position: absolute;
        background-color: #c7d062;
        min-width: 200px;
        z-index: 1;
    }

    .burgerDD a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color: #000;
    }

    .burgerDD a:hover {
        background-color: #c7d060;
        color: #000;
    }

    .burgermenu:hover .burgerDD {
        display: block;
        margin:auto;
    }
    
    
    
#logo{
    display: inline-block;
    height:100px;
    z-index:100;
    margin:0px 40%;  
    }    

#pagewrap{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a"
        "b b b b"
        "c c c c"
        "d d d d"
        "e e e e"
        "f f f f"
        "g g g g"
    ;
}

#header{
    background-color:#f1ca30;
    grid-area:a;
    text-align:left;
    z-index:9;
}

nav li img{ /*LOGO BILLEDE */
    position:absolute;
    top:10px;
    left:610px;
    width:100px; 
    padding-bottom:
}

#hurra{
    grid-area:b;
}
.bannerbillede{
    position:relative;
    
}   

.bannerbillede img{
    width:100%;
} /* BANNER BILLEDET */

.tekstbox{
    position: absolute; 
    top:40px;
    left: 25px;
    width: 100%;
    width:320px;
    height: auto;
    font-size:15px;
    text-align:center;
    background-color:rgba(241, 225, 147, 0.65);
    
    
}

.tekstbox h1{
    text-align:center;
}
    
#omcitronmaanen h1{
        font-size:25px;
    }    
    
#omcitronmaanen{
    background-color:#c7d062;
    grid-area: c;  
    text-align:center; 
    margin-top:-5px;
    padding-left:120px;
    padding-right:120px; 
    padding-bottom:10px;
    font-size:15px;
    font-weight:lighter;
}


#opskrifter{
    padding-left:10px;
    padding-right:10px;
    grid-template-areas:
    
        ". Overskrift1 Overskrift1"
        ". . ."
        "Overskrift2 Overskrift2 ."
        "billede1 billede1 tekst1for1"
        "billede1 billede1 tekst2for1"
        "billede1 billede1 ."
        "billede1 billede1 ."
        ". Overskrift3 Overskrift3"
        "tekst1for2 tekst1for2 billede2"     
        "tekst2for2 tekst2for2 billede2"
        "tekst2for2 tekst2for2 tekst2for2"
        "anbefaling anbefaling anbefaling";
}

#opskrifter h1{
    text-align:center;
    font-size:25px;
    left:100px; 
    margin-left:-80px;
}

#billede1{ /*OPSKRIFT BILLEDE 1*/
    height:210px;
    padding-top:20px
}

#billede2{ /*OPSKRIFT BILLEDE 2*/
    width:300px;
    padding-top:20px;
    
}

#omdancake{
    background-color:#c7d062;
    grid-area: e;
    text-align:center;
    padding-left:120px;
    padding-right:120px;
    padding-bottom:10px;
}

#omdancake h1{
    font-size:25px;    
}    


#instagram{
    background-color:#f1ca30;
    grid-area:f;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:25px;
    grid-template-areas: 
    
        ". instagramoverskrift . "
        "insta1 insta2 insta3"
        "insta4 insta5 insta6"
}

#instagram h1{
    text-align:center;
    grid-area:instagramoverskrift;
    font-weight:lighter;
    font-size:25px;
    margin-bottom:-10px;
}

#footer{
    background-color:#c7d062;
    grid-area:g;
    text-align:Center;
}

/* Textarea for grids til opskrifter */ 

#opskriftoverskrift{
    grid-area:Overskrift1;
    font-size:20px;
    font-weight:lighter;
    margin-bottom:-10px;
}

#grilletcitronmaane{
    grid-area:Overskrift2;
    font-size:20px;
    font-weight:lighter;
    margin-bottom:-18.5px;
    padding-left:7px
}

#gctekst1{
    grid-area:tekst1for1;
    padding-top:-10px;   


}

#gctekst2{
    grid-area:tekst2for1;
}

#citronmaaneromkugler{
    grid-area:Overskrift3;
    font-size:20px;
    font-weight:lighter;
    margin-bottom:-18.5px;
}

#crtekst1{
    grid-area:tekst1for2;
    padding-right:0px;
    padding-left:5px
}

#crtekst2{
    grid-area:tekst2for2;
    padding-right:0px;
    padding-left:5px;
}

#anbefaling{
    grid-area:anbefaling;
}
#billede1{
    grid-area:billede1;
    padding-right:15px;
    padding-left:5px
    
}
#billede2{
    grid-area:billede2;
}

    
    
    
    
    
/*Instagram gridside */

#insta1{
    grid-area:insta1;
    padding-left:50px;
    width:200px;
}

#insta2{
    grid-area:insta2;
    padding-left:0px;
    width:200px;
}
#insta3{
    grid-area:insta3;
    padding-right:50px;
    width:200px;
}
#insta4{
    grid-area:insta4;
    padding-left:50px;
    padding-bottom:50px; 
    width:200px;
    
}
#insta5{
    grid-area:insta5;
    padding-left:0px;
    width:200px;
}
#insta6{
    grid-area:insta6;
    padding-left:0px;
    padding-right:50px;
    width:200px;    
}

}

/*****************************PHONE SIZE*************************************/

@media screen and (max-width:480px){
    
body{
    font-family:'Open Sans',sans-serif;
    font-weight:lighter; 
    background-color:white;
    color:#3f290a;
}

h1, h3{
    font-family:'Yesteryear', cursive;
}
nav li{
    display:none;
    text-decoration: none;
    background-color:#f1ca30;  
    text-align:center;
    font-family:'Yesteryear',cursive;
    font-size:5px;
    padding-right: 0px;
    margin-right:-50px;
    padding-left:-50px;
    margin-left:-30px;  

}

nav a{
    text-decoration: none;
    color:#3f290a;
}

#pagewrap{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:;
    grid-template-areas:
        "a a a a"
        "b b b b"
        "c c c c"
        "d d d d"
        "e e e e"
        "f f f f"
        "g g g g"
    ;
}

#header{
    background-color:#f1ca30;
    grid-area:a;
    text-align:left;
    
}

nav li img{ /*LOGO BILLEDE */
    position:absolute;
    top:10px;
    left:10px;
    width:10px; 
}

#hurra{
    grid-area:b;
}
.bannerbillede{
    position:relative;
    
}   

.bannerbillede img{
    width:100%;
} /* BANNER BILLEDET */

.tekstbox{
    position: absolute; 
    top:0px;
    left:0px;
    width: 100%;
    height:97%;
    font-size:11.5px;
    text-align:center;
    background-color:rgba(241, 225, 147, 0.65);
  
    
}

.tekstbox h1{
    text-align:center;
    font-size:20px;
    margin-bottom:-8px;
    margin-top:3px;
}
    
#omcitronmaanen h1{
        font-size:20px;
    }    
    
#omcitronmaanen{
    background-color:#c7d062;
    grid-area: c;  
    text-align:center; 
    margin-top:-5px;
    padding-left:20px;
    padding-right:20px; 
    padding-bottom:10px;
    font-size:11.5px;
    font-weight:lighter;
}


#opskrifter{
    background-color:#f1ca30;
    grid-area: d;
    padding-left:10px;
    padding-right:10px;
    
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:
    
        "Overskrift1 Overskrift1 Overskrift1"
        "Overskrift2 Overskrift2 Overskrift2"
        "billede1 billede1 billede1"
        "tekst1for1 tekst1for1 tekst1for1"
        "tekst2for1 tekst2for1 tekst2for1"
        "Overskrift3 Overskrift3 Overskrift3"
        "billede2 billede2 billede2"
        "tekst1for2 tekst1for2 tekst1for2"     
        "tekst2for2 tekst2for2 tekst2for2"
        "anbefaling anbefaling anbefaling";
}

#opskrifter h1{
    text-align:center;
    font-size:20px;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

#billede1{ /*OPSKRIFT BILLEDE 1*/
    width:100%;
    margin:0;
    padding:10px 0 0 0;
    
}

#billede2{ /*OPSKRIFT BILLEDE 2*/
    
    width:100%;
    margin:0;
    padding:20px 0 30px 0;
    
}

#omdancake{
    background-color:#c7d062;
    grid-area: e;
    text-align:center;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    font-size:11.5px;
}

#omdancake h1{
    font-size:20px;    
}    


#instagram{
    background-color:#f1ca30;
    grid-area:f;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1px;
    grid-template-areas: 
    
        "instagramoverskrift instagramoverskrift instagramoversigt "
        "insta1 . insta2"
        "insta3 . insta4"
        "insta5 . insta6";
}

#instagram h1{
    text-align:center;
    grid-area:instagramoverskrift;
    font-size:20px;
    margin-bottom:10px;
    margin-left:135px;
}

#footer{
    background-color:#c7d062;
    grid-area:g;
    text-align:Center;
}

/* Textarea for grids til opskrifter */ 

#opskriftoverskrift{
    grid-area:Overskrift1;
    font-weight:lighter;
    margin-bottom:1px;
}

#grilletcitronmaane{
    grid-area:Overskrift2;
    font-size:15px;
    font-weight:lighter;
    margin-bottom:-15px;
    padding-left:118px;
}

#gctekst1{
    grid-area:tekst1for1;
    padding-top:-10px;  
    font-size:11.5px;
    text-align:Center; 
    margin-right:25px;

}

#gctekst2{
    grid-area:tekst2for1;
    font-size:11.5px;
    text-align:center;
    margin-top:-2px;
    margin-right:29px
}

#citronmaaneromkugler{
    grid-area:Overskrift3;
    font-size:15px;
    font-weight:lighter;
    margin-bottom:-18.5px;
    text-align:Center;
}

#crtekst1{
    grid-area:tekst1for2;
    font-size:11.5px;
    text-align:center;
    margin-top:-20px;
    
}

#crtekst2{
    grid-area:tekst2for2;
    font-size:11.5px;
    text-align:center;

}

#anbefaling{
    grid-area:anbefaling;
    font-size:11.5px;
    text-align:center;
}
#billede1{
    grid-area:billede1;
    margin-top:3px;
    
}
#billede2{
    grid-area:billede2;
    
}

    
    
    
    
    
/*Instagram gridside */

#insta1{
    grid-area:insta1;
    padding-left:15px;
    width:150px;
    margin-bottom:10px;
}

#insta2{
    grid-area:insta2;
    margin-left:-35px;
    width:150px;
    margin-bottom:10px;
}
#insta3{
    grid-area:insta3;
    padding-left:15px;
    width:150px;
}
#insta4{
    grid-area:insta4;
    margin-left:-85px;
    width:150px;
    
}
#insta5{
    grid-area:insta5;
    padding-left:15px;
    width:150px;
    margin-top:-40px;
    margin-bottom:10px;
}
#insta6{
    grid-area:insta6;
    padding-right:15px;
    width:150px;
    margin-left:-35px;
    margin-top:-40px;
    margin-bottom:10px;
}    
    
    
}

