/* Stylesheet for citronmånen
    Kevin Feliciano Nielsen & Rikke Kofoed
                                            */

body{
    font-family:'Open Sans',sans-serif;
    background-color:white;
    color:#3f290a;
    padding:0px;
}

h1, h3{
    font-family:'Yesteryear', cursive;
}
nav li{
    display:Inline;
    text-decoration: none;
    background-color:#f1ca30;  
    text-align:center;
    font-family:'Yesteryear',cursive;
    font-size:30px;
    padding-right:90px;
    margin-bottom
}

nav a{
    text-decoration: none;
    color:#3f290a;
}

#pagewrap{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows;
    grid-template-areas:
        "a a a a"
        "b b b b"
        "c c c c"
        "d d d d"
        "e e e e"
        "f f f f"
        "g g g g"
    ;
}

#header{
    background-color:#f1ca30;
    grid-area:a;
    text-align:center;
    
}

nav li img{
    position:relative;
    top:30px;
}
#hurra{
    grid-area:b;
}
.bannerbillede{
    position:relative;
}     

.tekstbox{
    position: absolute; 
    top:50px;
    left: 30px;
    width: 100%;
    margin:auto;
    width: 500px;
    height: auto;
    font-size:25px;
    text-align:center;
    background-color:rgba(241, 225, 147, 0.65);
    
    
}

.tekstbox h1{
    text-align:center;
}

    
#omcitronmaanen{
    background-color:#c7d062;
    grid-area: c;  
    text-align:center; 
    margin-top:-5px;
}

#opskrifter{
    background-color:#f1ca30;
    grid-area: d;
}

#opskrifter h1{
    text-align:center;
}

#omdancake{
    background-color:#c7d062;
    grid-area: e;
    text-align:center;
}

#instagram{
    background-color:#f1ca30;
    grid-area:f;
}

#instagram h1{
    text-align:center;
}

#footer{
    background-color:#c7d062;
    grid-area:g;
    text-align:Center;
}

